/*Header Start*/

.header {
  width: 100%;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex: 1;
  text-align: left;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.personal-links {
  flex: 1;
  text-align: right;
}

.personal-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.personal-links ul li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

/*Header End*/




.introduction {
  border-style: solid;
  text-align: center;
}

.introductionTechStackItems {
  display: flex;
  list-style: none;
  border-style: solid;
}

.introductionTechStackItems > li {
  display: inline-block;
  margin-right: 10px;
  margin: auto;
}

/* AboutMe Start */
.aboutMe {
  display: flex;
  border-style: solid;
  text-align: center;
}

.aboutMe > div {
  margin-right: 10px;
  margin: auto;
}

.aboutMeImageItem {
  position: relative;
}

.aboutMeImageOverlay {
  display: flex;
  position: absolute;
  top: 0;
  /* left: 25; */
  width: 100%;
  height: 100%;   /* Use this later within the portfolio!  */
  background-color: rgba(0, 0, 0, 0.5); /* You can customize the background color and opacity */
  color: #fff; /* You can customize the text color */
  display: none; /* The text will be hidden by default */
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
}

.bumpedText {   
  margin-top: 60%;
}

.aboutMeImageItem:hover .aboutMeImageOverlay {
  display: block; /* Show the text overlay on hover */
}
/* AboutMe End */

/* PortfolioPageSection Start */
.portfolioStyle {
    display: flex;
}

.portfolioItem {
  display: inline-block;
  position: relative;
  margin: 10px;
}
  
.portfolioImageItem {
  position: relative;
}

.projectTitleOverlay {
  text-align: center;
  position: absolute;
  top: 0%;
  width: 100%;
  height: 20%;
  background-color: rgba(111, 114, 110, 0.448); /* Set the background color with some transparency */
}

.techStackOverlay {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.5); /* You can customize the background color and opacity */
    color: #fff; /* You can customize the text color */
    display: none; /* The text will be hidden by default */
  }
  
  .portfolioImageItem:hover .techStackOverlay {
    display: block; /* Show the text overlay on hover */
  }

  .techStackOverlay > ul {
    margin-top: 50%;
  }
  /* PortfolioPageSection End */


  .portfolioIntroduction {
    border-style: solid;
    text-align: center;
  }

  .portfolioPageSection {
    border-style: solid;
  }


  /*Footer Start*/

  .footer {
    border-style: solid;
    /* text-align: center; */
    display: flex;
  }

  .footerPersonalLinks {
    display: flex;
    list-style: none;
  }

  .footerPersonalLinks > li {
    margin: auto;
  }

  /*Footer End*/
